@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
	--color-white: rgb(240, 240, 240);
	--color-dark-white: rgb(225, 225, 225);
	--color-blue: rgb(26, 168, 228);
	--color-hover-blue: rgb(78, 201, 253);
	--color-light-blue: rgba(147, 222, 255, 0.93);
	--color-text: rgba(120, 120, 120, 0.9);
	--color-dark-text: rgba(60, 60, 60, 0.9);
}

@font-face {
	font-family: "Open sans";
	src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

*,
*::after,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

body {
	background-color: var(--color-white);
	font-family: "Open sans";
}

main {
	min-height: 100vh;
}

.loader-modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	background-color: var(--color-white);
	z-index: 4000;
}

.modal {
	position: fixed;
	inset: 0;
	background-color: rgba(60, 60, 60, 0.5);
	z-index: 4000;
}

.loader {
	position: relative;
	width: 100px;
	height: 100px;
}

.loader:before,
.loader:after {
	content: "";
	border-radius: 50%;
	position: absolute;
	inset: 0;
	box-shadow: 0 0 10px 2px var(--color-dark-white) inset;
}
.loader:after {
	box-shadow: 0 3px 0 var(--color-blue) inset;
	animation: rotate 1s linear infinite;
}

.normal-loader {
	width: 25px;
	height: 25px;
	border: 3px solid var(--color-white);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

#up {
	position: fixed;
	bottom: 40px;
	right: 50px;
	font-size: 20pt;
	color: white;
	border-radius: 50%;
	background-color: var(--color-blue);
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.7s ease;
}

#up:hover {
	background-color: var(--color-hover-blue);
}

.form {
	margin: 50px auto;
	width: 30vw;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.input {
	position: relative;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.input div{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:5px;
	font-size: 14pt;
}

.input input {
	height: 40px;
	width: 100%;
	border-radius: 30px;
	border: 2px solid var(--color-text);
	font-size: 14pt;
	color:var(--color-dark-text);
	padding-left:10px ;
}

.input textarea{
	height: 100px;
	width: 100%;
	border-radius: 20px;
	border: 2px solid var(--color-text);
	font-size: 14pt;
	color:var(--color-dark-text);
	padding-left:10px ;
}

.input input::placeholder {
	font-size: 14pt;
}

.input input[type="file"]{
	border: none;
	width: 80%;
}
.input input[type="file"]::file-selector-button{
	border: none;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: var(--color-blue);
	color:white;
	font-size: 14pt;
	transition: background-color 0.7s ease;
	cursor: pointer;
	margin-right: 10px;
}

.input input[type="file"]::file-selector-button:hover{
	background-color: var(--color-hover-blue);
}

.form .input i{
	font-size: 16pt;
	color:var(--color-dark-text);
	position: absolute;
	top:42.5px;
	right:25px;
	cursor: pointer;
}
.buttons{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:30px;
}
.form button,.buttons button{
	border: none;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: var(--color-blue);
	color:white;
	font-size: 14pt;
	transition: background-color 0.7s ease;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
}

.form button:hover,.buttons button:hover{
	background-color: var(--color-hover-blue);
}

.form h1{
	width: 90%;
	text-align: center;
	word-wrap: break-word;
	font-size: 22pt;
	color:var(--color-dark-text);
}

.form p{
	font-size: 12pt;
	font-weight: bold;
	color:var(--color-dark-text);
}

.form p a{
	color:var(--color-blue);
}

.form p a:hover{
	color:var(--color-hover-blue);
}

.inputError{
	color:rgb(167, 0, 0) !important;
	font-size: 12pt !important;
	text-align: center;
}

.choise-modal{
	margin: 50px auto;
	width: 400px;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	color:var(--color-dark-text);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:30px;
	font-size: 18pt;
	text-align: center;
}

.star{
	color:var(--color-blue);
}

@media(max-width:1440px){
	.form{
		width: 45vw;
	}
}

@media (max-width: 1024px) {
	.form{
		width: 55vw;
	}
	.form p{
		font-size: 10pt;
	}
	.form h1{
		font-size: 20pt;
	}
	.form button,.buttons button{
		font-size: 12pt;
	}
	.form .input i{
		font-size: 14pt;
		top:42.5px;
	}
	.input div{
		font-size: 12pt;
	}
	
	.input input {
		font-size: 12pt;
	}
	.input input::placeholder {
		font-size: 12pt;
	}
	.inputError{
		font-size: 10pt !important;
	}
	.input input[type="file"]::file-selector-button{
		font-size: 12pt;
	}
	#up {
		font-size: 18pt;
		right: 40px;
	}
	.loader {
		width: 80px;
		height: 80px;
	}
	.normal-loader {
		width: 22.5px;
		height: 22.5px;
		border: 3px solid var(--color-white);
	}
	.choise-modal{
		font-size: 16pt;
	}
	.input textarea{
		font-size: 12pt;
	}
}

@media (max-width: 684px) {
	.input div{
		font-size: 10pt;
	}
	.form{
		width: 80vw;
	}
	.form p{
		font-size: 8pt;
	}
	.form h1{
		font-size: 18pt;
	}
	.form button,.buttons button{
		font-size: 10pt;
	}
	.form .input i{
		font-size: 12pt;
		top:37.5px;
	}
	.input input[type="file"]::file-selector-button{
		font-size: 10pt;
	}
	.input input {
		height: 30px;
		font-size: 10pt;
	}
	.input textarea{
		font-size: 10pt;
		height: 80px;
	}
	.input input::placeholder {
		font-size: 10pt;
	}
	.inputError{
		font-size: 8pt !important;
	}
	#up {
		font-size: 16pt;
		right: 30px;
	}
	.loader {
		width: 60px;
		height: 60px;
	}
	.normal-loader {
		width: 20px;
		height: 20px;
		border: 3px solid var(--color-white);
	}
	.choise-modal{
		width: 300px;
		font-size: 14pt;
	}
}

@media(max-width:440px){
	.form{
		width: 90vw;
	}
	.input{
		width: 90%;
	}
}
