.link{
    width: 100%;
}

.wrapper{
    width: 100%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition:  box-shadow 0.7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 20px;
    font-size: 16pt;
    border-radius: 10px;
    text-align: center;
}

.wrapper:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.wrapper i{
    font-size: 60px;
}

.wrapper img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@media(max-width:1024px){
    .wrapper{
        font-size: 14pt;
    }
    .wrapper i{
        font-size: 50px;
    }
    
    .wrapper img{
        width: 50px;
        height: 50px;
    }
}

@media(max-width:684px){
    .wrapper{
        font-size: 12pt;
    }
    .wrapper i{
        font-size: 40px;
    }
    
    .wrapper img{
        width: 40px;
        height: 40px;
    }
}