.wrapper {
	margin-top: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 30px;
}

.companyContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 30px;
}

.companyContainer h1 {
	width: 90%;
	color: var(--color-dark-text);
	font-size: 24pt;
}

.wrapper h2 {
	color: var(--color-dark-text);
	font-size: 22pt;
}

.jobsWrapper h3 {
	font-size: 16pt;
}

.companyContainer span {
	color: var(--color-blue);
}

.jobsWrapper {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 30px;
	padding: 0 50px;
}

.filters {
	flex: 1 1 10%;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border-radius: 10px;
	padding: 20px;
}

.filters > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-size: 12pt;
}

.filters .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 12pt;
}

.buttons button {
	background-color: transparent;
	color: var(--color-text);
	border-radius: 10px;
	border: 1.5px solid var(--color-text);
	padding: 5px 10px;
	cursor: pointer;
	transition: all 0.7s ease;
	font-size: 12pt;
}

.buttons button:hover {
	color: white;
	border: 1.5px solid white;
	background-color: var(--color-blue);
}

.active {
	color: white !important;
	border: 1.5px solid white !important;
	background-color: var(--color-blue) !important;
}

#removeFilters {
	background-color: var(--color-blue);
	color: white;
	font-size: 12pt;
	padding: 5px 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: background-color 0.7s ease;
}

#removeFilters:hover {
	background-color: var(--color-hover-blue);
}

.pagination {
	margin-left: 15%;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 12pt;
}

.pagination button {
	border-radius: 10px;
	padding: 5px;
	font-size: 12pt;
	border: none;
	background-color: var(--color-blue);
	color: white;
	transition: background-color 0.7s ease;
	cursor: pointer;
}

.pagination button:hover{
	background-color: var(--color-hover-blue);
}

.disabled{
	opacity: 0.5;
	cursor: default !important;
}

.disabled:hover{
	background-color: var(--color-blue) !important;
}

@media (max-width: 1135px) {
	.jobsWrapper {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.companyContainer h1 {
		font-size: 22pt;
	}
	.filters > div {
		font-size: 10pt;
	}
	.buttons button {
		font-size: 10pt;
	}
	.wrapper h2 {
		font-size: 20pt;
	}
	.jobsWrapper h3 {
		font-size: 14pt;
	}
	#removeFilters {
		font-size: 10pt;
	}
	.pagination{
		font-size: 10pt;
	}
	.pagination button{
		font-size: 10pt;
	}
}

@media (max-width: 800px) {
	.jobsWrapper {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.pagination {
		margin-left: 0;
	}
}

@media (max-width: 684px) {
	.companyContainer h1 {
		font-size: 18pt;
	}
	.filters > div {
		font-size: 8pt;
	}
	.buttons button {
		font-size: 8pt;
	}
	#removeFilters {
		font-size: 8pt;
	}
	.wrapper h2 {
		font-size: 16pt;
	}
	.jobsWrapper h3 {
		font-size: 12pt;
	}
}
