.wrapper {
	max-width: 500px;
	min-width: 400px;
	border-radius: 10px;
	background-color: white;
	color: black;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.wrapper p {
	font-size: 18pt;
	font-weight: bold;
	transition: 0.7s color ease;
}

.wrapper:hover p {
	color: var(--color-text);
}

.wrapper img {
	width: 100px;
	height: 100px;
}

@media(max-width:1300px){
    .wrapper {
		max-width: 400px;
		min-width: 300px;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		max-width: 350px;
		min-width: 250px;
	}
	.wrapper img {
		width: 90px;
		height: 90px;
	}
	.wrapper p {
		font-size: 16pt;
	}
}

@media (max-width: 684px) {
	.wrapper {
		width: 200px;
	}
	.wrapper img {
		width: 80px;
		height: 80px;
	}
	.wrapper p {
		font-size: 14pt;
	}
}
