.link {
	width: 100%;
}

.wrapper {
	width: 100%;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
    transition:  box-shadow 0.7s ease;
}

.wrapper:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.jobInfo {
	flex: 1 1 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
    font-size: 14pt;
}

.jobInfo h3{
    font-size: 16pt;
}

.jobInfo div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

#date{
    color:var(--color-text);
}

.companyInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.companyInfo img {
	width: 100px;
	height: 100px;
}

.companyInfo p{
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

@media(max-width:1024px){
    .jobInfo {
        font-size: 12pt;
    }
    .companyInfo p{
        font-size: 14pt;
    }
    
    .jobInfo h3{
        font-size: 14pt;
    }
}

@media(max-width:684px){
    .jobInfo {
        font-size: 10pt;
    }
    .companyInfo p{
        font-size: 12pt;
    }
    .jobInfo h3{
        font-size: 12pt;
    }
    .jobInfo div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .companyInfo img{
        width: 80px;
        height: 80px;
    }
}
