.wrapper {
	position: fixed;
	right: 0;
	width: 55vw;
	height: 100%;
	background-color: white;
	color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.header {
    width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    box-shadow: 1px 5px 12px 0px #B5B5B5;
}

.header i {
	font-size: 16pt;
}

.body{
    width: 100%;
	padding: 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo {
	font-size: 16pt;
	color: var(--color-blue);
	font-weight: bolder;
	transition: color 0.7s ease;
}

.body button{
    border-radius: 10px;
    background-color: var(--color-blue);
    margin-top: 10px;
    color:white;
    font-family: "Open sans";
    font-size: 12pt;
    padding: 5px 10px 5px 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.7s ease;
}

.body button:hover{
    background-color: var(--color-hover-blue);
}
